.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: bisque; 

    button{
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        background-color: brown;
        color: #fff;
        cursor: pointer;
    }
}