*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    margin: 0;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw; */
    background-color: #131921;
    border: 1px solid black;
    padding: 10px;
}


.homepage-root-container{
    background-color: #232F3E;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar{
    display: flex;
    height: 6vh;
    margin: 10px;
    max-width: 50vw;
    border: none;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 8px;
    input{
        flex-grow: 1;
    }
    select{
        padding: 5px;
        border: none;        
    }
    button{
        background-color: #febd69;
        border: none;
        color: #232F3E;
        padding: 8px 16px;
        font-weight: 600;
        cursor: pointer;
    }
}

.category-bar{
    display: flex;
    background-color: #232F3E;
    padding: 10px 16px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    button{
        background-color: transparent;
        color: #ffff;
        border: none;
        align-items: center;
        display: flex;
        font-size: 15px;
        gap: 5px;
        cursor: pointer;
        padding: 4px 8px;

        #ham-menu{
            width: 20px;
            height: 20px;
        }
    }

    .category-items{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ffff;
        cursor: pointer;
    }
}

.homepage-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD004;

    .products-card-container{
        display: flex;
        flex-wrap: wrap;
        
        gap: 10px;
    }
}

#homepage-img{
    width: 100%;
}