*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: aqua;
    height: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    flex-shrink: 0;

    justify-content: space-evenly;
}
    
.navbar a{
    flex-basis: 20px;
    /* flex-grow: 1; */
    /* flex-wrap: wrap; */
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 10px;

}

.navbar a:hover{
    color: white;
    background-color: brown;
    border-radius: 5px;
}

#search{
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    flex-grow: 2;
    background-color: transparent;
}

img{
    height: 50px;
    margin: 10px;
    /* background-color: brown; */
    /* border-radius: 100%; */
}

img:hover{
    cursor: pointer;
}

.item1 { grid-area: header; 
/* flex-wrap: wrap;*/ }
.item2 { grid-area: menu;
height: 83vh;
width: 18vw;}
.item3 { grid-area: main; 
height: 70vh;
width: 60vw;}
.item4 { grid-area: right;
    height: 70vh;
    width: 18vw;
}
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 3px;
  background-color: #2196F3;
  padding: 2px;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 30px;}

